body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}

#menusuperior{
    background-color: ;
    color: mediumblue;
}
#menuinferior{
    background-color: rgb(249, 248, 248);
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: grid;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 75px;
    margin-left: 20px;
}

.spaninformativo{
    font-size: 20px;
    font-weight: normal;
}